<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
    class="rounded-full size-12"
    src="https://res.cloudinary.com/dxnsmwmgv/image/upload/v1701956355/lhptlqqx0tptriqm2wmt.jpg" 
    alt="Bastidas-photo">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>  
    </nav>
</header>